.button-btnone{
    border: 1px solid #D1D3D6;
  }
  .shipping-one{
    border: 1px solid #D1D3D6;
    width: 96%;
  }
   .fgmail{
    font-size: 10px;
   }
   .shopone p{
      margin-top: 8px !important;
      margin-bottom: 1rem;
   }
   .continuetopayment{
    border: 1px solid #2A65D7;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #1363DF;
    font-size: 10px;
    width: 151px;
    height: 24px;
   }
   .continuepayment{
    padding-left: 268px;
    margin-top: -15px;

   }
   .edit{
    font-size: 12px;
    color: #1363DF;
   }
   .shippingtwo{
    padding:8px;
   }
   @media only screen and(max-width:320px) {

   }
