.button-btnone{
    border: 1px solid #D1D3D6;
  }
  .paymentinfo {
    font-size:12px;
    font-family: 'Robot0';
  }
  .paymentcontinue{
    border: 1px solid #2A65D7;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #1363DF;
    font-size: 10px;
    width: 151px;
    height: 24px;
  }
  .continuepay{
    padding-left: 268px;
   
  }