.unitedstates{
    padding:6px;
}
.shipping-three{
    font-size: 10px;
    margin-top:0px;
    margin-bottom:0px;
}
.shipping-three p{
   
    margin-top:0px;
    margin-bottom:0px;
}
.placeorder{
    border: 1px solid #2A65D7;
    border-radius: 10px;
    background-color: #2A65D7;
    color: white;
    font-size: 10px;
    width: 151px;
    height: 24px;
}
.order{
    padding-left: 268px;
}
.placeorder a{
    color: #ffffff;
}
.ship{
    font-size: 10px;
    padding-left: 200px;
}