.checkouttext{
    text-align: center;
}
.form-control{
    width:95% !important;
    line-height: 0.3 !important;
}
label{  
      padding-left: 0px !important;
}
label{
    font-size: 12px !important;
    padding-top: 7px !important;
  }
.btn-five {
    text-align: center;
    color: #1363DF;
    font-size: 10px;
    width: 207px;
    height: 24px;
    border: 1px solid #2A65D7;
    border-radius: 10px;
    font: normal normal  Muli;
    background-color: #FFFFFF;
  }
  .five-btn{
  padding-left: 205px;
  margin-left: -155px;
}
    .line hr {
       height: 10% ;
        width: 5%;
        background-color:#2A65D7 !important;
        opacity: 1 !important;
        margin-bottom: 3rem;
        margin-left: 32rem !important;
        padding:2px;
    }
    .checkouttext{
        padding-top:20px;
    font-family:Source Serif Pro !important;
}
.guest{
    font-family:Source Serif Pro !important;
}
.contact{
    font-weight:14px;
    color: #172026;
    font-size:16px;
}
.details{
    font-weight:14px;
    color: #172026;
    font-size:12px;
   
}
.details p{
    padding-bottom: 0px;
}
.btn-nine{
    color: #1363DF;
    font-size: 10px;
    width: 100px;
    height: 24px;
    border: 1px solid #2A65D7;
    border-radius: 10px;
    font: normal normal  Muli;
    background-color: #FFFFFF;
  }
  .button-btn{
    border: 1px solid #D1D3D6;
    padding:60x;
    padding: 7px;

  }
  .button-btnone{
    padding: 25px;
    border: 1px solid #D1D3D6;
  }

  .button-btnone p{
    font-size:14px;
    margin-top: -8px ;
  }

  .text-right{
    padding-top:6px;
  }
  .shippinginfo{
    padding-top: 9px;
    
  }
  @media only screen and(max-width:320px) {
    .line hr {
      
      width: 13%;
     
      margin-bottom: 2rem;
      margin-left: 9rem ;
      padding: 2px;
  }
  .five-btn{
    padding-left: 205px;
    margin-left: -155px;
  }
  }