.two-cards {
    height: 15rem;
    background-color: #47B5FF;
  }
  .one-cards {
    margin-left: 0px;
    margin-right: 18px;
    margin-bottom: 28px;
  }
  .social-links-one{
    padding-left:77px;
    font-size: 30px;
    color: white;
  }
  .social-links-one svg{
    color: white;
  }
  .info{
    font-size:12px;
  }
  .shipping{
    font-size:12px;
  }
  